body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container-custom {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #D7FC0B;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #333;
    color: #ffffff;
    text-align: center;
}

#resultado {
    margin-top: 10px;
    font-size: 18px;
    background-color: #2a2a2a;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.button-red {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #EE1C25;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  .button-red:hover {
    background: rgb(214, 64, 4);
    box-shadow: 0 0 30px 5px #EE1C25;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .button-red:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }

  .button-red::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .button-red:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }

#contador {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}

/* Footer fijo en la parte inferior */
footer {
    background-color: #1e1e1e;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}